.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.container label {
  font-weight: bold;
  font-size: 0.75rem;
}

.container input {
  border: none;
  border-radius: 0.25rem;
  outline: none;
  padding: 1rem;
  background-color: #f7f8e5;
  width: 90%;
}

.field {
  margin: 0.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.25rem;
}

.container input::placeholder {
  font-weight: 600;
}

.container input:invalid {
  border: 1px solid #ca1121;
}

.container p {
  margin: 0;
  font-size: 0.75rem;
  font-weight: 600;
}

.error {
  color: #ca1121;
}

.delete_button {
  cursor: pointer;
}

.delete_button span {
  color: #2d2d2d;
}
