.container {
  border-radius: 20px;
  margin: 32px 0;
}

.header {
  padding: 24px;
  display: flex;
  justify-content: space-between;
  gap: 8rem;
}

.header h1 {
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 70%;
  padding-left: 3.5rem;
}

.home_button {
  display: flex;
  justify-content: center;
  margin: 20px;
  padding: 20px;
  border-radius: 12px;
  background-color: #5bb9df;
  text-align: center;
}

.clear_button {
  background-color: #5bb9df;
  border-radius: 0.5rem;
  margin: 20px;
  padding: 20px;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.form {
  border-radius: 20px;
  border: 1px solid #2d2d2d;
  width: 30vw;
  margin: 24px auto;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5rem;
  padding: 30px;
}

.form_header {
  margin: 0 auto;
}

.form_header img {
  width: 100px;
  height: 100px;
  color: #bd15af;
}

.section_header {
  font-size: 20px;
  font-weight: 600;
  border-bottom: 1px solid #4d4d4d;
  padding-bottom: 0.25rem;
  margin-bottom: 0.75rem;
}

.section_fields {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.75rem;
}

.footer {
  margin: 0 auto;
}

.footer .submit_button {
  background-image: linear-gradient(to right, #42a2ce, #3344aa);
  font-weight: 500;
  color: #fff;
  padding: 20px;
  border-radius: 12px;
}
